html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Flex containers */
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

/* First container elements */
a {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

/* Second container elements */
section h1 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

/* Third container elements */

#phone {
    margin: 5%;
}

/* Footer */
footer p {
    text-align: right;
}
